/* laptop device */
@media screen and (max-width: 1200px) {
  #target-card-container {
    flex-wrap: wrap;
  }
  .target-card {
    padding: 40px 240px 40px 40px;
  }
}

/* tablet device */
@media screen and (max-width: 1024px) {
  #banner h2 {
    font-size: 39px;
  }
  #blog-content {
    flex-direction: column-reverse;
  }
  #inspiration-video-container {
    padding: 20px;
  }
  .social-link a img {
  width: 30px;
  margin: 10px;
}
}
/* mobile device */
@media screen and (max-width: 640px) {
  .btn {
    font-size: 15px;
    padding: 12px 19px;
  }
  #banner {
    padding: 20px 30px;
  }
  #banner h2 {
    font-size: 35px;
  }
  .blog-content-img img {
    width: 100%;
  }
  #blog-content {
    padding: 45px;
  }
  .target-card {
    width: 100%;
    padding: 40px 240px 40px 40px;
  }
    #inspiration-video-container {
    padding: 10px;
  }
  .social-link a img {
  width: 30px;
  margin: 10px;
}
.copyright h3 {
    text-align: center;
    
}
 footer {
    flex-direction: column
 }

}